h2 {
    /* font-size: 4.0vw; */
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Cascadia Code';
}

th {
    font-weight: bold;
    min-width: 150px
}

.contentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.refreshButton{
    margin-left:100px;
}

.pagerButton{
    min-width:90px;
}

.imagePager {
    display: flex;
    gap: 10px;
}
.imageDiv{
    margin-top:20px;
}
.tableDiv {
    width: 70vw;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modelTable {
    overflow-x: auto;
    word-wrap: break-word;
    table-layout: fixed;
    word-break: break-all;
}