h2 {
    /* font-size: 4.0vw; */
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Cascadia Code';
}

th {
    font-weight: bold;
    min-width: 150px
}

.contentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tableDiv {
    width: 70vw;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modelTable {
    overflow-x: auto;
    word-wrap: break-word;
    table-layout: fixed;
    word-break: break-all;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
